<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of students</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                List of students
            </div>
            <div class="card-body">
                <form method="get" th:action="@{students}">
                    <label>keyword</label>
                    <input type="text" name="keyword">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date of berth</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student:${students}">
                        <td th:text="${student.code}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.email}"></td>
                        <td th:text="${student.dob}"></td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a
                                th:class="${currentPage == status.index ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
                                th:text="${status.index}"
                                th:href="@{students(page=${status.index})}"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



</body>
</html>